<% provide(:title, "Services") %>
<div class="featurette-divider"></div>
<div class="text-center">
  <%= link_to 'All', services_path, class: "btn btn-sm btn-dark m-1" %>
  <% @categories.each do |category| %>
    <%= link_to category.name.capitalize, services_path(category_id: category.id), class: "btn btn-sm btn-dark m-1" %>
  <% end %>
</div>
<% @services.each do |service| %>
  <div class="card text-dark bg-light p-1 mx-auto col-xl-6 col-lg-7 col-sm-9 my-5">
    <div class="card-body m-1 p-1">
      <div class="row">
        <div class="col-7">
          <span class="fw-bold fs-4"><%= service.title %></span>
        </div>
        <div class="col-5 text-end my-1">from <%= number_to_currency(service.price) %>
          <div>
            <% service.fill_stars.times do %>
              <i class="bi bi-star-fill"></i>
            <% end %>
            <% service.blank_stars.times do %>
              <i class="bi bi-star"></i>
            <% end %>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">

        <div class="col-lg-6 col-md-12">
          <%= image_tag url_for(service.image), class: "img-fluid rounded", style: "width: 400px; height: 200px;" %>
        </div>

        <div class="col-lg-6 col-md-12">
          <span class="fw-bold mx-auto">Performed: </span><%= service.performed %><br>
          <p class="m-auto"><%= service.introduction %></p>

          <% if current_user.nil? %>
            <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-dark my-sm-1" %>
          <% elsif  current_user.client? %>
            <%= link_to 'Order', new_service_order_path(service), class: "btn btn-dark my-sm-1" %>
          <% end %>

          <%= link_to 'More details', service_path(service), class: "btn btn-outline-dark mx-auto" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
