<% provide(:title, "Главная") %>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "home/photo4.jpg", class: "img-fluid" %>
        <div class="container">
          <div class="carousel-caption">
            <h3>Время, потраченное на массаж, никогда не пропадает зря</h3>
            <%= link_to 'Зарегистрироваться', new_user_registration_path, class: "btn btn-lg btn-outline-light mt-1" %>
          </div>
        </div>
      </div>
      <div class="carousel-item">

        <%= image_tag "home/photo5.jpg", class: "img-fluid" %>
        <div class="container">
          <div class="carousel-caption">
            <h3>Отдохните, и ваша энергия восстановится.</h3>
            <%= link_to 'Услуги', services_path, class: "btn btn-lg btn-outline-light mt-1" %>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag ("home/photo6.jpg"), class: "img-fluid" %>
        <div class="container">
          <div class="carousel-caption">
            <h3>Открой свою душу. И свои глаза.</h3>
              <%= link_to 'Просмотреть галерею', gallery_path, class: "btn btn-lg btn-outline-light mt-1" %>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Назад</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Вперед</span>
    </button>
  </div>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row" id="about">
      <div class="col-lg-4">
        <%= image_tag "home/photo9.jpg", class: "rounded-circle", size: "150x150" %>
        <h2>Hermann Hesse</h2>
        <p>Within you there is a stillness and a sanctuary to which you can retreat at any time and be yourself.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag "home/photo8.jpg", class: "rounded-circle", size: "150x150" %>
        <h2>Mandy Hals</h2>
        <p>It’s not selfish to love yourself, take care of yourself, and to make your happiness a priority. It’s necessary.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag "home/photo7.jpg", class: "rounded-circle", size: "150x150" %>
        <h2>Paulo Coelho</h2>
        <p>It’s a good idea always to do something relaxing before making an important decision in your life.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
