<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "photospa1.jpg", class: "img-fluid" %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Example headline.</h1>
            <p>Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-outline-light mt-1" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">

        <%= image_tag "photospa2.jpg", class: "img-fluid" %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-outline-light mt-1" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag ("photospa3.jpg"), class: "img-fluid" %>
        <div class="container">
          <div class="carousel-caption">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
              <%= link_to 'Browse gallery', gallery_path, class: "btn btn-lg btn-outline-light mt-1" %>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="assets/photospa3.jpg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Heading</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Heading</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Heading</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" id="about">

    <div class="row text-sm-center text-lg-start">
      <div class="col-lg-7 col-sm-12">
        <h1>WHO WE ARE</h1>
        <p class="lead">Your picture of health is completely unique to you. That’s why LavenderSpa’s integrative approach to wellness is aimed at helping you truly know yourself. Our personalised programme of care is based on a deep understanding of your precise needs. Our all-encompassing treatments cover all dimensions of the self: physical, emotional, mental and spiritual. Combining technology and tradition, our team of visionary doctors and specialists will guide you on a path to flourishing, empowering you to make profound lifestyle transformations.</p>
      </div>
      <div class="col-lg-5 col-sm-12">
        <%= image_tag ("home/photo1.jpg"), size: "500x350" %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-lg-7 col-sm-12 order-md-2">
        <h1>WHERE WE ARE</h1>
        <p class="lead">LavenderSpa sits on the protected, jungle-clad island of Bang Krachao, across from Bangkok on the Chao Phraya River and only an hour from both Suvarnabhumi and Don Mueang International Airports. Find yourself immersed in a natural oasis, peacefully isolated from the city, yet still conveniently connected. Your path to ultimate wellness begins on these idyllic grounds.</p>
      </div>
      <div class="col-lg-5 col-sm-12 order-md-1">
        <%= image_tag "home/photo2.jpg", size: "500x350" %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-lg-7 col-sm-12">
        <h1>THIS IS LAVENDERSPA</h1>
        <p class="lead">Whether maintaining your health or preventing illnesses has long been a priority, or you’re just starting on your wellness journey, our specialists are here to guide you along the way. Your healing experience begins with an intimate knowledge of the self. Our diverse team of experts will assess your state using detailed diagnostics and a dedicated advisor will work with you to design a plan that moves you towards your unique health goals. Embark on a journey that leads to wellbeing as a way of life. </p>
      </div>
      <div class="col-lg-5 col-sm-12">
        <%= image_tag "home/photo3.jpg", size: "500x350" %>
      </div>
    </div>

  </div>

</main>
