<% provide(:title, "Edit Profile") %>
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>

<div class="mx-auto col-xl-6 col-lg-7 col-sm-9 featurette-divider">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 text-center">
      <%= get_image(current_user.id, 150) %>
      <br>
      <%= f.file_field :avatar, class: "m-3" %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
      </div>
      <div class="form-group my-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
      <div class="form-group my-3">
        <%= f.label :your_birthday %><br />
        <%= f.date_field :birthday, as: :date, value: f.object.try(:strftime,"%d/%m/%Y"), class: 'form-control' %>
      </div>
      <% if current_user.master? %>
         <div class="my-3">
           <%= f.label :about_me %><br />
           <%= f.text_area :description, autofocus: true, autocomplete: "description", class: "form-control" %>
         </div>
       <% end %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group my-3">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="form-group my-3">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group my-3">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class:"btn btn-primary my-2" %>
      </div>
  <% end %>
  <% if current_user.client? %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-dark btn-sm" %></p>
<% end %>
  <%= link_to "Back", :back %>
  </div>

  </div>
  </div>
