<% provide(:title, "My orders") %>
<div class="featurette-divider col-xl-6 col-md-9 col-sm-12 mx-auto">
  <%= link_to 'All', orders_path, class: "btn btn-dark mr-2" %>
  <% Order::STATUSES.each do |status| %>
    <%= link_to status.capitalize, orders_path(status: status), class: "btn btn-dark mx-2" %>
  <% end %>
  <table class="table table-hover caption-top">
    <caption>My orders (<%= @orders.count %>)</caption>
    <%= @status %>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col">Date</th>
        <% if current_user.master? %>
          <th scope="col">Client</th>
        <% else %>
          <th scope="col">Master</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @orders.each.with_index do |order, i| i+=1 %>
        <tr>
          <th scope="row""><%= i %></th>
          <td><%= link_to order.id, order_path(order.id) %></td>
          <td><%= link_to order.service.title, service_path(order.service.id) %></td>
          <td><%= number_to_currency(order.service.price) %></td>
          <td><%= order.status.capitalize %></td>
          <td><%= order.startdate.strftime('%a, %B %-d') %></td>
          <td>
            <p>
              <% if current_user.master? %>
                <%= get_image(order.user.id)%>
                <%= order.user.name.capitalize %>
              <% else %>
                <%= get_image(order.master.id)%>
                <%= link_to order.master.name.capitalize, master_path(order.master.id) %>
              <% end %>
            </p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
