<% provide(:title, "Мои заказы") %>
<div class="featurette-divider col-xl-6 col-md-9 col-sm-12 mx-auto">
  <%= link_to 'Все', orders_path, class: "btn btn-dark mr-2" %>
  <% Order::STATUSES.values.each do |status| %>
    <%= link_to status.capitalize, orders_path(status: Order::STATUSES.key(status).to_s), class: "btn btn-dark mx-2" %>
  <% end %>
  <table class="table table-hover caption-top">
    <caption>Мои заказы (<%= @orders.count %>)</caption>
    <%= @status %>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Заголовок</th>
        <th scope="col">Стоимость</th>
        <th scope="col">Статус</th>
        <th scope="col">Дата</th>
        <% if current_user.master? %>
          <th scope="col">Клиент</th>
        <% else %>
          <th scope="col">Мастер</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @orders.each.with_index do |order, i| i+=1 %>
        <tr>
          <th scope="row"><%= link_to order.id, order_path(order.id) %></td></th>
          <td><%= link_to order.service.title, service_path(order.service.id) %></td>
          <td><%= number_to_currency(order.service.price) %></td>
          <td> <%= Order::STATUSES.select {|key, value| key == order.status.to_sym }.values.first.try(:capitalize) %></td>
          <td><%= l order.startdate, format: '%A, %-d %B' %></td>
          <td>
            <p>
              <% if current_user.master? %>
                <%= get_image(order.user.id)%>
                <%= order.user.name.capitalize %>
              <% else %>
                <%= get_image(order.master.id)%>
                <%= link_to order.master.name.capitalize, master_path(order.master.id) %>
              <% end %>
            </p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
