<% provide(:title, "New order") %>
<%= form_with model: [@service, @service.orders.build ] do |form| %>
<div class="accordion featurette-divider w-75 mx-auto" id="menu">
  <% if flash[:danger].present? %>
    <% flash.each do |name, messages| %>
      <% messages.each do |message| %>
        <div class="bg-danger" style="--bs-bg-opacity: .5;"><%= message %></div>
      <% end %>
    <% end %>
  <% end %>
  <!-- item-1 -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#item-1">
        1. Choose Master for <%= @service.title %>
      </button>
    </h2>
    <!-- класс show делает пункт открытым -->
    <div id="item-1" class="accordion-collapse collapse" data-bs-parent="#menu">
      <div class="accordion-body">
        <div class="row">
          <% @masters.each do |master|%>

            <div class="col-xl-3 col-md-4 col-sm-6">
              <%= link_to new_service_order_path(:master_id=>master.id), id: master.id, class: "text-decoration-none text-dark" do %>
              <div class="card text-center p-2">
                <%= get_image(master.id, 70)%>
                <span><%= master.name %></span>
                <p>
                  <% master.fill_stars.times do %>
                    <i class="bi bi-star-fill"></i>
                  <% end %>
                  <% master.blank_stars.times do %>
                    <i class="bi bi-star"></i>
                  <% end %>
                </p>
              </div><% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- item-2 -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item-2">
        2. Choose Date
        <%= hidden_field_tag :master_id, params[:master_id] %>
      </button>
    </h2>
    <div id="item-2" class="accordion-collapse collapse" data-bs-parent="#menu">
      <div class="accordion-body">
            <%= form.date_field :startdate, id: "baseDate", placeholder: "Please select Date Time" %>

            <br>
            <%= form.submit 'Create order', class: "m-3 btn btn-outline-dark" %>
          <% end %>
      </div>
    </div>
  </div>
</div>

<!-- partial -->

<script src='https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js'></script>
<script>
flatpickr('#baseDate', {
"minDate": new Date().fp_incr(1),
disable: <%= raw @disable_date %>,
dateFormat: "Y-m-d",
});
</script>

<!--Import vanilla wizard here-->
<script src="https://cdn.jsdelivr.net/npm/vanilla-wizard@0.0.5" >
</script>

<!--Initializing a wizard with no configuration -->
<script>
    new Wizard("#basicwizard",{
        progress: true
    });
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">

  <!--  Flatpickr  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>

<%= stylesheet_link_tag "flatpickr", "data-turbo-track": "reload" %>
