<% provide(:title, "Заказ ##{@order.id}") %>
<div class="row featurette-divider">
  <div class=" col-lg-2 col-md-9 mx-3">
    <span class="fw-bold fs-4"> Заказ #<%= @order.id %></span>
    <br>
    <div class="my-2">
      <span class="fw-bold mx-auto">Наименование: </span>
      <%= link_to @order.service.title, service_path(@order.service_id) %>
    </div>

    <div class="my-2">
      <span class="fw-bold mx-auto my-3">Цена: </span><%= number_to_currency(@order.service.price) %>
    </div>

    <div class="my-2">
      <span class="fw-bold mx-auto my-3">Статус: </span><%= Order::STATUSES.select {|key, value| key == @order.status.to_sym }.values.first.try(:capitalize) %>
    </div>

    <div class="my-2">
      <span class="fw-bold mx-auto my-3">Дата: </span><%= l @order.startdate, format: '%A, %-d %B' %>
    </div>
    <p>
      <% if current_user.master? %>
        <%= get_image(@order.user.id)%>
        <%= @order.user.name.capitalize %>
      <% else %>
        <%= get_image(@order.master.id) %>
        <%= link_to @order.master.name.capitalize, master_path(@order.master.id) %>
      <% end %>
    </p>

    <% if @order.draft? && current_user.client? %>
      <%= button_to 'Отменить заказ', update_status_order_path(status: :cancel), method: :patch, class: "btn btn-sm btn-outline-dark my-sm-1" %>
    <% end %>

  </div>
  <div class="col-lg-5 col-md-9">
    <% if @order.review.present? %>
      <%= render @order.review %>
    <% end %>

    <% if @order.complete? && @order.review.nil? %>
      <h4 class="my-1">Оставить отзыв:</h4>
      <%= render 'reviews/form' %>
    <% end %>

  </div>
</div>
