<%= form_with model: [ @order, @order.build_review ] do |form| %>

  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :comment, class: "form-control" %>
  </p>
  <p>
    <%= form.label :rating %><br>
    <%= form.number_field :rating, class: "form-control", min: 1, max: 5 %>
  </p>
  <p>
    <%= form.submit %>
  </p>

<% end %>
